@font-face {
    font-family: "Garamond-Regular";
    src: url("../fonts/EBGaramond-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;    

}
nav a {
    text-decoration: none;
    font-family: "Garamond-Regular";
    font-size: 1.8rem;
    color:black;
}
